<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main th:object="${order}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Thông tin đơn hàng</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <td th:text="*{id}">}</td>
                                </tr>
                                <tr>
                                    <th>Thời gian đặt</th>
                                    <td th:text="*{#dates.format(createdDate, 'HH:mm:ss dd-MM-yyyy')}">}</td>
                                </tr>
                                <tr>
                                    <th>Địa chỉ</th>
                                    <td th:text="*{address}"></td>
                                </tr>
                                <tr>
                                    <th>Thành tiền</th>
                                    <td>
                                        [[${#numbers.formatDecimal(order.amount, 0, 'COMMA', 0, 'POINT')}]]₫
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h3>Chi tiết sản phẩm</h3>
                    <table class="table" style="font-size: 18px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th colspan="2">Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${order.orderDetails}">
                                <th ng-init="incrementIndex($index)">{{$index + 1}}</th>
                                <td>
                                    <img th:src="@{|/assets/images/${item.product.image}|}" class="img-fluid rounded-start"
                                    style="height: 100px;">
                                </td>
                                <td th:text="${item.product.name}"></td>
                                <td >
                                    [[${#numbers.formatDecimal(item.product.price, 0, 'COMMA', 0, 'POINT')}]]₫
                                </td>
                                <td th:text="${item.quantity}"></td>
                                <td>[[${#numbers.formatDecimal(item.product.price*item.quantity, 0, 'COMMA', 0, 'POINT')}]]₫</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

</html>